################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Spark/v15
/src/Spark.AspNetCore/bin/Debug/netcoreapp2.1
/src/Spark.AspNetCore/obj
/src/Spark.Core/bin/Debug/netstandard2.0
/src/Spark.Core/obj
/src/Config/Spark.Config/bin/Debug/netcoreapp2.1
/src/Config/Spark.Config/obj
/src/Config/Spark.Config.Api/bin/Debug/netcoreapp2.1
/src/Config/Spark.Config.Api/obj
/src/Config/Spark.Config.Api/Properties
/src/Config/Spark.Config.SDK/bin/Debug/netcoreapp2.1
/src/Config/Spark.Config.SDK/obj
/src/SmartSql/Spark.SmartSqlConfig/bin/Debug/netcoreapp2.1
/src/SmartSql/Spark.SmartSqlConfig/obj
/.vs/Spark/DesignTimeBuild
/src/EventBus/Spark.EventBus/bin/Debug/netcoreapp2.1
/src/EventBus/Spark.EventBus/obj
/src/Logging/Spark.Logging/obj
/src/Logging/Spark.Logging.EventBusStore/bin/Debug/netcoreapp2.1
/src/Logging/Spark.Logging/bin/Debug/netcoreapp2.1
/src/Logging/Spark.Logging.EventBusStore/obj
/src/ServiceDiscovery/Spark.LoadBalancer/bin/Debug/netcoreapp2.1
/src/ServiceDiscovery/Spark.LoadBalancer/obj
/src/ServiceDiscovery/Spark.ServiceDiscovery/bin/Debug/netcoreapp2.1
/src/ServiceDiscovery/Spark.ServiceDiscovery/obj
/src/ServiceDiscovery/Spark.ServiceDiscovery.Remote/bin/Debug/netcoreapp2.1
/src/ServiceDiscovery/Spark.ServiceDiscovery.Remote/obj
/src/EventBus/Spark.EventBus.RabbitMQ/obj
/src/EventBus/Spark.EventBus.RabbitMQ/bin/Debug/netcoreapp2.1
/src/Utility/Spark.Utility/bin/Debug/netstandard2.0
/src/Utility/Spark.Utility/obj
/src/Utility/Spark.WeiXinSdk/bin/Debug
/src/Utility/Spark.WeiXinSdk/obj
/src/Gateway/Ocelot.Provider.Consul/bin/Debug/netcoreapp2.1
/src/Gateway/Ocelot.Provider.Consul/obj
/src/Gateway/Ocelot.Provider.Remote/bin/Debug/netcoreapp2.1
/src/Gateway/Ocelot.Provider.Remote/obj
/src/Gateway/Spark.Ocelot.Consul/bin/Debug/netcoreapp2.1
/src/Gateway/Spark.Ocelot.Consul/obj
/src/Gateway/Spark.Ocelot.Remote/bin/Debug/netcoreapp2.1
/src/Gateway/Spark.Ocelot.Remote/obj
/src/Elasticsearch/Spark.Elasticsearch/bin/Debug/netcoreapp2.1
/src/Elasticsearch/Spark.Elasticsearch/obj
/samples/Spark.Samples.WebApi/bin/Debug/netcoreapp2.1
/samples/Spark.Samples.WebApi/obj
/.vs/config
/samples/Spark.Samples.Tracer/bin/Debug/netcoreapp2.1
/samples/Spark.Samples.Tracer/obj
/src/Tracer/Spark.Tracer/bin/Debug/netcoreapp2.1
/src/Tracer/Spark.Tracer/obj
/src/Tracer/Spark.Tracer.EventBusStore/bin/Debug/netcoreapp2.1
/src/Tracer/Spark.Tracer.EventBusStore/obj
/src/Utility/Spark.Encrypt/bin/Debug/netstandard2.0
/src/Utility/Spark.Encrypt/obj
/samples/Spark.Samples.Logging/bin/Debug/netcoreapp2.1
/samples/Spark.Samples.Logging/obj
/src/Config/Spark.CheckHeaths/bin/Debug/netcoreapp2.1
/src/Config/Spark.CheckHeaths/obj
/src/HealthCheck/Spark.HealthChecks/obj
/src/HealthCheck/Spark.HealthChecks/bin/Debug/netcoreapp2.1
/src/HealthCheck/Spark.HealthChecks.AspNetCore/obj
/src/HealthCheck/Spark.HealthChecks.MySql/obj
/src/HealthCheck/Spark.HealthChecks.SqlServer/obj
