<?xml version="1.0" encoding="utf-8" ?>
<SmartSqlMap Scope="App" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="AppResultMap">
      <Result Column="id" Property="Id" />
      <Result Column="code" Property="Code" />
      <Result Column="name" Property="Name" />
      <Result Column="remark" Property="Remark" />
      <Result Column="status" Property="Status" />
      <Result Column="add_time" Property="AddTime" />
      <Result Column="update_time" Property="UpdateTime" />
    </ResultMap>

    <ResultMap Id="AppRoleResultMap">
      <Result Column="id" Property="Id" />
      <Result Column="app_id" Property="AppId" />
      <Result Column="user_id" Property="UserId" />
      <Result Column="add_time" Property="AddTime" />
      <Result Column="update_time" Property="UpdateTime" />
    </ResultMap>
  </ResultMaps>
  <MultipleResultMaps>
    <MultipleResultMap Id="QueryPagedResult">
      <Result Property="Total" />
      <Result Property="List" />
    </MultipleResultMap>
  </MultipleResultMaps>
  <Statements>

    <Statement Id="QueryParams">
      <Where>
        <IsNotEmpty Prepend="And" Property="Id">
          id= ?Id
        </IsNotEmpty>
        <IsNotEmpty Prepend="And" Property="Code">
          code= ?Code
        </IsNotEmpty>
        <IsNotEmpty Prepend="And" Property="Name">
          name= ?Name
        </IsNotEmpty>
        <IsNotEmpty Prepend="And" Property="Remark">
          remark= ?Remark
        </IsNotEmpty>
        <IsNotEmpty Prepend="And" Property="Status">
          status= ?Status
        </IsNotEmpty>
        <IsNotEmpty Prepend="And" Property="AddTime">
          add_time= ?AddTime
        </IsNotEmpty>
        <IsNotEmpty Prepend="And" Property="UpdateTime">
          update_time= ?UpdateTime
        </IsNotEmpty>
      </Where>
    </Statement>

    <Statement Id="OrderAndPaged">
      <Switch Prepend="Order By" Property="OrderBy">
        <Default>
          id Desc
        </Default>
      </Switch>
      <IsNotNull Prepend="" Property="PageSize">
        <IsNotNull Prepend="" Property="Offset">
          LIMIT ?Offset,?PageSize
        </IsNotNull>
        <IsNull Prepend="" Property="Offset">
          LIMIT ?Limit
        </IsNull>
      </IsNotNull>
    </Statement>

    <!--新增-->
    <Statement Id="Insert">
      INSERT INTO app
      (
      code,
      name,
      remark,
      status,
      add_time,
      update_time
      )
      VALUES
      (
      ?Code,
      ?Name,
      ?Remark,
      ?Status,
      ?AddTime,
      ?UpdateTime
      )
      ;Select Last_Insert_Id();
    </Statement>

    <!--删除-->
    <Statement Id="Delete">
      Delete From app
      <Include RefId="QueryParams" />
    </Statement>

    <!--更新-->
    <Statement Id="Update">
      UPDATE app
      <Set>
        <IsProperty Prepend="," Property="Code">
          code = ?Code
        </IsProperty>
        <IsProperty Prepend="," Property="Name">
          name = ?Name
        </IsProperty>
        <IsProperty Prepend="," Property="Remark">
          remark = ?Remark
        </IsProperty>
        <IsProperty Prepend="," Property="Status">
          status = ?Status
        </IsProperty>
        <IsProperty Prepend="," Property="AddTime">
          add_time = ?AddTime
        </IsProperty>
        <IsProperty Prepend="," Property="UpdateTime">
          update_time = ?UpdateTime
        </IsProperty>
      </Set>
      Where id=?Id
    </Statement>

    <!--获取数据列-->
    <Statement Id="Query" ResultMap="AppResultMap">
      SELECT * From app
      <Include RefId="QueryParams" />
      <Switch Prepend="Order By" Property="OrderBy">
        <Default>
          id Desc
        </Default>
      </Switch>
      <IsNotEmpty Prepend="Limit" Property="Taken">?Taken</IsNotEmpty>
    </Statement>

    <!--获取分页数据-->
    <Statement Id="QueryByPage" ResultMap="AppResultMap">
      Select * From app
      <Include RefId="QueryParams" />
      <Switch Prepend="Order By" Property="OrderBy">
        <Default>
          id Desc
        </Default>
      </Switch>
      Limit ?Offset,?PageSize
    </Statement>

    <Statement Id="QueryPaged" MultipleResultMap="QueryPagedResult" ResultMap="AppResultMap">
      SELECT COUNT(1) FROM app
      <Include RefId="QueryParams" />;
      SELECT * FROM app
      <Include RefId="QueryParams" />
      <Include RefId="OrderAndPaged" />;
    </Statement>

    <!--获取记录数-->
    <Statement Id="GetRecord">
      Select Count(1) From app
      <Include RefId="QueryParams" />
    </Statement>

    <!--获取表映射实体-->
    <Statement Id="GetEntity" ResultMap="AppResultMap">
      Select * From app
      <Include RefId="QueryParams" />
      Limit 1
    </Statement>

    <!--是否存在该记录-->
    <Statement Id="IsExist">
      Select Count(1) From app
      <Include RefId="QueryParams" />
    </Statement>

    <!--分页查询项目集合-->
    <Statement Id="GetList" MultipleResultMap="QueryPagedResult" ResultMap="AppResultMap">
      SELECT COUNT(1) FROM app
      <IsNotEqual Property="IsAdmin" CompareValue="1">
        INNER JOIN app_role ON app_role.app_id = app.id
      </IsNotEqual>
      WHERE
      1 =1
      <IsNotEqual Property="IsAdmin" CompareValue="1" Prepend="And">
        app_role.user_id = ?UserId
      </IsNotEqual>
      <IsNotEmpty Property="Keyword" Prepend="And">
        name LIKE CONCAT('%',?Keyword,'%')
        OR code LIKE CONCAT('%',?Keyword,'%')
      </IsNotEmpty>;

      SELECT app.* FROM app
      <IsNotEqual Property="IsAdmin" CompareValue="1">
        INNER JOIN app_role ON app_role.app_id = app.id
      </IsNotEqual>
      WHERE
      1 =1
      <IsNotEqual Property="IsAdmin" CompareValue="1" Prepend="And">
        app_role.user_id = ?UserId
      </IsNotEqual>
      <IsNotEmpty Property="Keyword" Prepend="And">
        name LIKE CONCAT('%',?Keyword,'%')
        OR code LIKE CONCAT('%',?Keyword,'%')
      </IsNotEmpty>
      ORDER BY app.add_time DESC
      LIMIT ?Offset,?PageSize;
    </Statement>

    <!--获取用户拥有的项目集合列表-->
    <Statement Id="GetUserAppList" ResultMap="AppResultMap">
      SELECT
      app.*
      FROM
      app
      <IsNotEqual Property="IsAdmin" CompareValue="1">
        INNER JOIN app_role ON app.id = app_role.app_id
        WHERE
        app_role.user_id = ?UserId
      </IsNotEqual>
    </Statement>

    <!--项目权限记录添加-->
    <Statement Id="InsertRole">
      INSERT INTO app_role
      (app_id,
      user_id,
      add_time,
      update_time)
      VALUES
      (?AppId,
      ?UserId,
      ?AddTime,
      ?UpdateTime)
      ;Select Last_Insert_Id();
    </Statement>

    <!--删除项目使用权限-->
    <Statement Id="DeleteRole">
      Delete From app_role
      WHERE
      1=1
      <IsNotEmpty Prepend="And" Property="UserId">
        user_id = ?UserId
      </IsNotEmpty>
      <IsNotEmpty Prepend="And" Property="Id">
        id = ?Id
      </IsNotEmpty>
    </Statement>

    <!--获取项目权限集合列表-->
    <Statement Id="GetRoleList" MultipleResultMap="QueryPagedResult">
      SELECT
      COUNT( 1 )
      FROM
      (
      SELECT
      `user`.id
      FROM
      `user`
      INNER JOIN app_role ON `user`.id = app_role.user_id
      INNER JOIN app ON app.id = app_role.app_id
      WHERE 1=1
      <IsNotEmpty Prepend="And" Property="Keyword">
        `user`.user_name LIKE CONCAT('%',?Keyword,'%')
        OR `user`.mobile LIKE CONCAT('%',?Keyword,'%')
        OR app.`name` LIKE CONCAT('%',?Keyword,'%')
      </IsNotEmpty>
      GROUP BY
      `user`.id
      ) AS temp;

      SELECT
      `user`.id AS UserId,
      `user`.user_name AS UserName,
      `user`.mobile AS Mobile,
      GROUP_CONCAT( app.`name` ) AS AppNames
      FROM
      `user`
      INNER JOIN app_role ON `user`.id = app_role.user_id
      INNER JOIN app ON app.id = app_role.app_id
      WHERE 1=1
      <IsNotEmpty Prepend="And" Property="Keyword">
        `user`.user_name LIKE CONCAT('%',?Keyword,'%')
        OR `user`.mobile LIKE CONCAT('%',?Keyword,'%')
        OR app.`name` LIKE CONCAT('%',?Keyword,'%')
      </IsNotEmpty>
      GROUP BY
      `user`.id
      <IsNotEmpty Prepend="Limit" Property="Taken">?Taken</IsNotEmpty>
    </Statement>
  </Statements>
</SmartSqlMap>